<div class="page-header">
	<h1>TV Remote Demo</h1>
</div>


<!-- Show message is the app is offline (hide container by default): -->
<div class="alert alert-warning fade-in fade-out ng-cloak" role="alert" ng-hide="tvIPSaved">
	<strong>TV not connected.</strong> You have not connected with a SmartTV yet. Check the <a href="#/discovery" class="alert-link">Discovery page</a> to associate with a device.
</div>


<!-- Example row of columns -->
<div class="row text-center">
	<div class="col-xs-6 col-sm-3 col-md-3">
		<tv-command title="Volume Up" cta-title="Volume Up" keyboard-shortcut="&uparrow;" key-code="38" command="KEY_VOLUP"></tv-command>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
		<tv-command title="Volume Down" cta-title="Volume Down" keyboard-shortcut="&downarrow;" key-code="40" command="KEY_VOLDOWN"></tv-command>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
		<tv-command title="Channel Up" cta-title="Channel Up" keyboard-shortcut="&rightarrow;" key-code="39" command="KEY_CHUP"></tv-command>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3">
		<tv-command title="Channel Down" cta-title="Channel Down" keyboard-shortcut="&leftarrow;" key-code="37" command="KEY_CHDOWN"></tv-command>
	</div>
</div>



<!-- Select a Command to send to the SmartTV front the list of supported Commands: -->
<div class="row">
	<div class="col-md-12">
		<div class="input-group">
			<select id="commandSelect" class="form-control" >
				<option ng-repeat="supportedCommand in supportedCommands">{{ ::supportedCommand }}</option>
			</select>
			<span class="input-group-btn">
				<button id="sendCommand" type="submit" class="btn btn-primary">Send Command</button>
			</span>
		</div><!-- /input-group -->
	</div><!-- /.col-md-12 -->
</div><!-- /.row -->


<!-- Success/Error Infoboxes -->
<div class="row">
	<div class="col-md-12">
		<p>
			<div id="successInfobox" class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Success!</strong> <span class="message"></span>
			</div>
		</p>

		<p>
			<div id="errorInfobox" class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Warning!</strong> <span class="message"></span>
			</div>
		</p>
	</div><!-- /.col-md-12 -->
</div><!-- /.row -->
<!-- /Success/Error Infoboxes -->


	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			var successInfobox = $('#successInfobox'),
			    errorInfobox = $('#errorInfobox');

			/**
			 * Mediator to wrap actions between the Web Interface and the SmartTV.
			 * @type {Object}
			 */
			var remoteMediator = {
				execute: function (options) {
					options.command = options.command || 'KEY_VOLDOWN';
					options.API_URL = options.API_URL || '//localhost:8080/api/';
					options.elementToDisable = options.elementToDisable || undefined;

					// Build the URL for the given Command:
					var tvIP = undefined;
					var commandAPIURL = options.API_URL
						+ 'tv/command/'
						+ (typeof tvIP === 'undefined' ? '' : tvIP + '/')
						+ options.command;

					if (options.elementToDisable) {
						$(options.elementToDisable).prop('disabled', true);
					}

					$.ajax({
						url: commandAPIURL,
						success: function (data) {
							if (data.success) {
								successInfobox.find('.message').text(data.message);
								successInfobox.show();
								errorInfobox.hide();

								console.log(data);
							} else {
								errorInfobox.find('.message').text(data.errorMessage);
								errorInfobox.show();
								successInfobox.hide();

								console.error(data.errorMessage);
							}

							if (options.elementToDisable) {
								$(options.elementToDisable).prop('disabled', false);
							}
						},
						error: function (err) {
							errorInfobox.find('.message').text( JSON.stringify(err) );
							errorInfobox.show();
							successInfobox.hide();

							console.error(err);
							if (options.elementToDisable) {
								$(options.elementToDisable).prop('disabled', false);
							}
						}
					})
				}
			};

			/**
			 * Actions to execute on the remote.
			 * @type {Object}
			 */
			var remoteActions = {
				/**
				 * Extremely basic handler for the "Volume Up" button.
				 * @return {void}
				 */
				//volumeUpCallback: function () {
				//	remoteMediator.execute({
				//		command: 'KEY_VOLUP',
				//		elementToDisable: '#volumeUp'
				//	});
				//},

				/**
				 * Extremely basic handler for the "Volume Down" button.
				 * @return {void}
				 */
				//volumeDownCallback: function () {
				//	remoteMediator.execute({
				//		command: 'KEY_VOLDOWN',
				//		elementToDisable: '#volumeDown'
				//	});
				//},

				/**
				 * Extremely basic handler for the "Channel Up" button.
				 * @return {void}
				 */
				//channelUpCallback: function () {
				//	remoteMediator.execute({
				//		command: 'KEY_CHUP',
				//		elementToDisable: '#channelUp'
				//	});
				//},

				/**
				 * Extremely basic handler for the "Channel Down" button.
				 * @return {void}
				 */
				//channelDownCallback: function () {
				//	remoteMediator.execute({
				//		command: 'KEY_CHDOWN',
				//		elementToDisable: '#channelDown'
				//	});
				//},

				/**
				 * Send a custom Command to the Remote.
				 * @param  {string} command The command to send to the SmartTV.
				 * @return {void}
				 */
				selectedCommandCallback : function (command) {
					remoteMediator.execute({
						command: command
					});
				}
			};


			/*
			// Register callbacks for CTA button clicks:
			$('#volumeUp').on('click', remoteActions.volumeUpCallback);
			$('#volumeDown').on('click', remoteActions.volumeDownCallback);
			$('#channelUp').on('click', remoteActions.channelUpCallback);
			$('#channelDown').on('click', remoteActions.channelDownCallback);
			*/
			
			/*
			// Register callbacks for keypress events:
			$('html').keydown(function (event) {
				switch (event.keyCode) {
					// Up arrow:
					case 38:
						remoteActions.volumeUpCallback();
						break;

					// Down arrow:
					case 40:
						remoteActions.volumeDownCallback();
						break;

					// Left arrow:
					case 37:
						remoteActions.channelDownCallback();
						break;

					// Right arrow:
					case 39:
						remoteActions.channelUpCallback();
						break;
				}
			});
			*/
			
			// Register callback for the "Available Commands" select:
			$('#sendCommand').on('click', function (event) {
				var selectedCommand = $('#commandSelect').find('option:selected').val();
				remoteActions.selectedCommandCallback(selectedCommand);
			});
		});
	</script>