<h1>Discovery</h1>

<div>
	Discovery Page for <em>SmartTV Remote</em>
</div>


<div class="page-header">
	<h2><span class="glyphicon glyphicon-film"></span> Connected TVs</h2>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Headers</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tvDevice in tvDevices" ng-class="{ success: tvDevice.headersParsed['LOCATION'].indexOf(associatedTVIP) !== -1 }">
			<th scope="row">{{ ($index + 1) }}</th>
			<td ng-click="saveTVIP(tvDevice)">{{ tvDevice.headers }}</td>
		</tr>
		<tr ng-show="tvDevices === null">
			<td colspan="2" class="text-center"><strong>Scanning network...</strong></td>
		</tr>
		<tr ng-show="tvDevices.length === 0">
			<td colspan="2" class="text-center"><strong>No TV found.</strong></td>
		</tr>
	</tbody>
</table>


<div class="page-header">
	<h2><span class="glyphicon glyphicon-transfer"></span> Connected Devices</h2>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Headers</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="device in devices">
			<th scope="row">{{ ::($index + 1) }}</th>
			<td>{{ ::device.headers }}</td>
		</tr>
		<tr ng-show="devices === null">
			<td colspan="2" class="text-center"><strong>Scanning network...</strong></td>
		</tr>
		<tr ng-show="devices.length === 0">
			<td colspan="2" class="text-center"><strong>No device found.</strong></td>
		</tr>
	</tbody>
</table>
